<h1>ADD PRODUCT</h1>
<form #empForm=ngForm (ngSubmit)="addData()">
<table>
    <tr>
        <td>Product Id</td>
        <td><input type="text" name="Pid" id="id" [(ngModel)]="proId" #procontrol="ngModel" required/></td>
       <span *ngIf="procontrol.touched && procontrol.invalid">Id Should be filled</span>   
    </tr>
    <tr>
            <td>Product Name</td>
        <td><input type="text" name="pname" id="name" [(ngModel)]="proName" #namecontrol="ngModel" required/></td>
        <span *ngIf="namecontrol.touched && namecontrol.invalid">Name Should be filled</span> 
    </tr>
    <tr>
            <td>Product Cost</td>
        <td><input type="text" name="Pcost" id="cost" [(ngModel)]="proCost" #costcontrol="ngModel" required/></td>
        <span *ngIf="costcontrol.touched && costcontrol.invalid">Cost Should be filled</span> 
    </tr>
    <tr>
            <td>Product Online</td>
        <td><input type="radio" name="poption" id="option" [(ngModel)]="proOption" #optioncontrol="ngModel" value="Yes"> Yes<br>
            <input type="radio" name="poption" id="option" [(ngModel)]="proOption" #optioncontrol="ngModel" value="No">No</td>
        <span *ngIf="optioncontrol.touched && optioncontrol.invalid">Radio button Should be filled</span> 
    </tr>
    <tr>
    
            <td>Product Category</td>
            <td><select id = "myList" name="select" [(ngModel)]="proSelect" #selectcontrol="ngModel">
              <option value = "Grocery">Grocery</option>
              <option value = "Mobile">Mobile</option>
              <option value = "Electronics">Electronics</option>
              <option value = "Cloths">Cloths</option>
            </select>
            </td>
            <span *ngIf="selectcontrol.touched && selectcontrol.invalid">Category Should be filled</span> 
</tr>
    <tr>
        <td>Available in Store:</td>
        <td><input type="checkbox" name="Available" id="available" value="Big Bazar" [(ngModel)]="proAvilable" #avicontrol="ngModel">Big Bazar
            <input type="checkbox" name="Available" id="available" value="DMart" [(ngModel)]="proAvilable" #avicontrol="ngModel">DMart
            <input type="checkbox" name="Available" id="available" value="Reliance" [(ngModel)]="proAvilable" #avicontrol="ngModel">Reliance
            <input type="checkbox" name="Available" id="available" value="Mega Store" [(ngModel)]="proAvilable" #avicontrol="ngModel">Mega Store</td>
            <span *ngIf="avicontrol.touched && avicontrol.invalid">Select one option</span>
    </tr>
    <tr>
   <td><input type="submit" value="Add Product" [disabled]="empForm.invalid"/></td>
   </tr>
</table>
</form><br><br>

<table border="2">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Cost</th>
        <th>Product Online</th>
        <th>Product Category</th>
        <th>Available in Store</th>
    </tr>
    <tr *ngFor="let p of myallData">
        <td>{{p.proId}}</td>
        <td>{{p.proName}}</td>
        <td>{{p.proCost}}</td>
        <td>{{p.proOption}}</td>
        <td>{{p.proSelect}}</td>
        <td>{{p.proSelect}}</td>

    </tr>
</table>